<% if @by_author == nil %>
<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Author</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td>
        <a href="/recipe/<%= recipe.name %>">
          <%= recipe.name %>
        </a>
      </td>
      <td>
        <a href="/by_author/<%= recipe.author.first_name %>">
          <%= recipe.author.first_name %>
        </a>
      </td>
    </tr>
  <% end %>
</table>

  <% else %>
  
<h1><%= @title %></h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Author</th>
  </tr>
  <% Recipe.where(author_id: @by_author.id).each do |recipe| %>
    <tr>
      <td>
        <a href="/recipe/<%= recipe.name %>">
          <%= recipe.name %>
        </a>
      </td>
      <td>
        <a href="/by_author/<%= @by_author.first_name %>">
          <%= @by_author.first_name %>
        </a>
      </td>
    </tr>
  <% end %>
</table>
<% end %>