<h1>Multiple choice test</h1>
<% MultiTest.order(:problem).each do |x| %>
<h2><%= x.problem %></h2>
  <p><%= x.question %></p>
  <ul>
    <li><%= x.answer1 %></li>
    <li><%= x.answer2 %></li>
    <li><%= x.answer3 %></li>
    <li><%= x.answer4 %></li>
  </ul>
<% end %>

