<h1>Details for <%= @element.name %></h1>

<p>
  <b>Number</b>
  <%= @element.number %>
</p>

<p>
  <b>Symbol</b>
  <%= @element.symbol %>
</p>

<p>
  <b>Description</b>
  <%= @element.description %>
</p>

<p>
  <b>Discovery</b>
  <%= @element.discovery_info %>
</p>
