<h1>Edit or add new goat</h1>

<table border: "none" >
  <tr>
    <td><%= label_tag "name", "Name" %></td>
    <td><%= text_field_tag "name", "", size: 20 %></td>
  </tr>
  <tr>
    <td><%= label_tag "gender", "Gender" %></td>
    <td><%= text_field_tag "gender", "", size: 20 %></td>
  </tr>
    <td><%= label_tag "best_100m_time", "Best 100 meter time" %></td>
    <td><%= text_field_tag "best_100m_time", "", size: 20 %></td>
  <tr>
    <td><%= label_tag "dietary_preference", "Dietary preference" %></td>
    <td><%= text_field_tag "dietary_preference", "", size: 20 %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Save" %></td> 
  </tr>
</table>



