<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:error] != nil %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
