<%= form_tag "/customer_adjust" do %>
<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        
        <td><%= text_field_tag :"fname_#{customer.id}", customer.fname %></td>
        <td><%= text_field_tag "lname_#{customer.id}", customer.lname %></td>
        <td><%= submit_tag 'Update' %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= text_field_tag "new_fname", "", placeholder: "first name" %></td>
      <td><%= text_field_tag "new_lname", "", placeholder: "last name" %></td>
      <td><%= submit_tag "Create" %></td>
   
    </tr>
  </tbody>
</table>

<br>

<% end %>




