<h1>Apartments</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Address</th>
    <th>Rent</th>
    <th>Pets?</th>
    <th>Link</th>
    <th></th>
  </tr>

  <% @apartments.each do |apartment| %>
    <tr>
      <td>
        <%= apartment.id %>
      </td>
      <td>
        <%= apartment.address %>
      </td>
      <td>
        <%= apartment.rent_per_month %>
      </td>
      <td>
        <%= apartment.does_allow_pets %>
      </td>
      <td>
        <a href="<%= apartment.url %>">
          <%= apartment.url %>
        </a>
      </td>
      <td></td>
        <% end %>
      </tr>
      <tr>
      <td>(new)</td>
      <td><%= text_field_tag "address", "", size: 25 %></td>
      <td><%= text_field_tag "rent_per_month", "", size: 5 %></td>
      <td><%= text_field_tag "does_allow_pets", "", size: 3 %></td>
      <td><%= text_field_tag "url", "", size: 15 %></td>
      <td><%= submit_tag "Create" %></td>
    </tr>


  <!-- TODO: add new <tr> with text fields here -->

</table>
