<form>

<%= label_text_tag "first_name" %>
<%= label_text_tag "email" %>
<%= label_text_tag "description" %>

<div class='form-group'>
  <%= label_tag :gender %>
  <%= radio_helper "male" %>
  <%= radio_helper "female" %>
</div>

<%= class_helper "class_year", ["2012", "2013", "Other"], "Choose year" %>

<div class='form-group'>
  <label>Marketing</label>
  <%= checkbox_helper "marketing_us", "Please email me relevant marketing offers" %>
  <%= checkbox_helper "marketing_3rd_party", "Please email me relevant marketing offers from third parties" %>
</div>

  <%= big_submit_tag %>

</form>
