<h2>Volume controls</h2>


<%= volume_control "off" %>
<%= volume_control "down" %>
<%= volume_control "up" %>

<h2>Example HTML entities</h2>

<p>6 &times; 3 = 18</p>

<p>6 <%= divide %> 3 = 2</p>

<p>6<%= times %> 3</p>