
<h2><%= @header %></h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Pusblished</th>
  </tr>

  <% @books.each do |b| %>
    <tr>
      <td>
        <a href="/isbn/<%= b.isbn %>">
          <%= b.title %>
        </a>
      </td>
      <td><%= b.author %></td>
      <td><%= b.publication_year %></td>
    </tr>
  <% end %>
</table>
