<% Book.order(:id).each do |b| %>

  <div style='float: left'>
  <div style='width: 250px; height: 60px; padding: 5px'>
  <div style='float:left'>
    <a href="/books/<%= b.id %>">
      <img alt="<%= b.cover_filename.humanize %>" height="60" src="../app/assets/images/<%= b.cover_filename %>.jpg" width="40" />
    </a>  
  </div>
  <div style='width:200px; height: 60px; margin-left: 50px'>
    <a href="/books/<%= b.id %>">
      <i><%= b.title %></i>
      <br>
      by L. Frank Baum
      <br>
      #<%= b.id %> in the Oz series
    </a> 
   </div>
  </div>
  </div>
<% end %> 