<% if flash[:notice] %>
  <div class="alert alert-info"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Company name:</strong>
  <%= @ad.company_name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @ad.duration %>
</p>

<%= link_to "Edit", edit_ad1_path(@ad) %>
<%= link_to "Back", list_ads1_path(@ad) %>
